!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FrontEnd
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div.nav-bar
      %img.image{:src => "https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG"}
      %h3.title Pokemon Database
      %a{:href => pokemons_path}
    %div.content
      = yield
