!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FrontEnd
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-light
      %a.navbar-brand{:href => '/'}
        %img.image{:src => "https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG"}
        %span Pokemon Database
      %ul.nav.navbar-nav
        %li.nav-item
          %a.nav-link{:href => pokemons_path} Pokemon
        %li.nav-item
          %a.nav-link{:href => teams_path} Teams
        %li.nav-item
          %a.nav-link{:href => cities_path} Cities
        %li.nav-item
          %a.nav-link{:href => items_path} Items 
    .container.content
      = yield
