%h1.page-title POKEMON

.index
  - @pokemons.each_with_index do |pokemon, i|
    - if i % 4 == 0
      .row
    .col-md-3
      %a{:href => pokemon_path(pokemon.pokemon_name)}
        %span= pokemon.pokemon_name.upcase
        = image_tag pokemon.image
%br
