%h1 Listing gyms

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @gyms.each do |gym|
      %tr
        %td= link_to 'Show', gym
        %td= link_to 'Edit', edit_gym_path(gym)
        %td= link_to 'Destroy', gym, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Gym', new_gym_path
