%h1 Trainers

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @trainers.each do |trainer|
      %tr
        %td= link_to 'Show', trainer
        %td= link_to 'Edit', edit_trainer_path(trainer)
        %td= link_to 'Destroy', trainer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Trainer', new_trainer_path
