%h1.page-title TRAINERS

- @trainers.each_with_index do |trainer, i|
  - if i % 4 == 0
    .row
  .col-md-3
    %a{:href => trainer_path(trainer.trainer_name)}
      %span= trainer.trainer_name.upcase
%br
