@font-face {
  font-family: pokemon;
  src: url("localhost:3000/pokemon-solid.ttf");
}

.image {
    width: 50px;
    height: 50px;
}

.navbar-brand:hover .image {
    -webkit-animation:spin 4s linear 2;
    -moz-animation:spin 4s linear 2;
    animation:spin 4s linear 2;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navbar {
  @extend .navbar;
  background-color:#2a75bb;
  border-radius:0px;
}

.nav-item {
  @extend .nav-item;
  margin-top:10px;
  margin-left:5px;
  margin-right:5px;
}

.content {
  font-family:pokemon;
  margin-top:15px;
}
