@font-face {
  font-family: pokemon;
  src: url("localhost:3000/pokemon-solid.ttf");
}

.image {
    width: 50px;
    height: 50px;
}

.navbar-brand:hover .image {
    -webkit-animation:spin 4s linear 2;
    -moz-animation:spin 4s linear 2;
    animation:spin 4s linear 2;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navbar {
  @extend .navbar;
  background-color:#2a75bb;
  border-radius:0px;
}

.nav-item {
  @extend .nav-item;
  margin-top:10px;
  margin-left:5px;
  margin-right:5px;
}

.content {
  font-family:pokemon;
  margin-top:15px;
}

.index .col-md-3 {
  img {
    position:relative;
    top:0;
    left:0;
    opacity:.2;
    width:100%;
  }
  span {
    position:relative;
    top:200px;
    left:40px;
    font-size:20px;
    font-family:"Arial Black", Gadget, sans-serif;
    color: gray;
    z-index:1;
  }
}

.index .col-md-3:hover {
  img {
    opacity:.8;
  }
  span {
    color: black;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
  a {
    text-decoration:none;
  }
}

.page-title {
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
}

.show_img {
  width:100%;
  height:100%;
}

.underline {
  text-decoration: underline;
}
